<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.breakingthebasics">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

<!--          android:hardwareAccelerated="false"-->

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1213417137522376~4042744682"/>

        <activity android:name="com.breakingthebasics.classcourse.AftervideoActivity" android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.breakingthebasics.classcourse.VideoActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.breakingthebasics.classcourse.CoursesDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.breakingthebasics.classcourse.ClassesDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.breakingthebasics.classcourse.ClassesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.breakingthebasics.settingpage.SubscriptionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noactionbar" />
        <activity
            android:name="com.breakingthebasics.settingpage.PrivacyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noactionbar" />
        <activity
            android:name="com.breakingthebasics.settingpage.TermConditionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noactionbar" />
        <activity
            android:name="com.breakingthebasics.settingpage.VibeNotificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noactionbar" />
        <activity
            android:name="com.breakingthebasics.settingpage.ReminderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noactionbar" />
        <activity
            android:name="com.breakingthebasics.settingpage.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noactionbar" />
        <activity
            android:name="com.breakingthebasics.login.RegistrationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noactionbar" />
        <activity
            android:name="com.breakingthebasics.login.ForgotActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noactionbar" />
        <activity
            android:name="com.breakingthebasics.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noactionbar" />
        <activity
            android:name="com.breakingthebasics.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.breakingthebasics.InAppActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.breakingthebasics.StartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.breakingthebasics.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <service android:name="com.breakingthebasics.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.breakingthebasics"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/my_paths" />
        </provider>
    </application>

</manifest>